h1, h2 {
    text-align: center;
}

img {
    margin: auto;
    display: flex;
    align-items: center;
}

h3 {
    font-size: 16px;
    text-decoration: underline;
    color: #88100f;
}

p {
    font-size: 14px;
    line-height: 28px;
}